@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url(./fonts/IRANSansWeb_FaNum_Black.eot);
    src: url(./fonts/IRANSansWeb_FaNum_Black.eot?#iefix) format("embedded-opentype"),
        url(./fonts/IRANSansWeb_FaNum_Black.woff2) format("woff2"),
        url(./fonts/IRANSansWeb_FaNum_Black.woff) format("woff"),
        url(./fonts/IRANSansWeb_FaNum_Black.ttf) format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/IRANSansWeb_FaNum_Bold.eot);
    src: url(./fonts/IRANSansWeb_FaNum_Bold.eot?#iefix) format("embedded-opentype"),
        url(./fonts/IRANSansWeb_FaNum_Bold.woff2) format("woff2"),
        url(./fonts/IRANSansWeb_FaNum_Bold.woff) format("woff"),
        url(./fonts/IRANSansWeb_FaNum_Bold.ttf) format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url(./fonts/IRANSansWeb_FaNum_Medium.eot);
    src: url(./fonts/IRANSansWeb_FaNum_Medium.eot?#iefix) format("embedded-opentype"),
        url(./fonts/IRANSansWeb_FaNum_Medium.woff2) format("woff2"),
        url(./fonts/IRANSansWeb_FaNum_Medium.woff) format("woff"),
        url(./fonts/IRANSansWeb_FaNum_Medium.ttf) format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url(./fonts/IRANSansWeb_FaNum_Light.eot);
    src: url(./fonts/IRANSansWeb_FaNum_Light.eot?#iefix) format("embedded-opentype"),
        url(./fonts/IRANSansWeb_FaNum_Light.woff2) format("woff2"),
        url(./fonts/IRANSansWeb_FaNum_Light.woff) format("woff"),
        url(./fonts/IRANSansWeb_FaNum_Light.ttf) format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url(./fonts/IRANSansWeb_FaNum_UltraLight.eot);
    src: url(./fonts/IRANSansWeb_FaNum_UltraLight.eot?#iefix) format("embedded-opentype"),
        url(./fonts/IRANSansWeb_FaNum_UltraLight.woff2) format("woff2"),
        url(./fonts/IRANSansWeb_FaNum_UltraLight.woff) format("woff"),
        url(./fonts/IRANSansWeb_FaNum_UltraLight.ttf) format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/IRANSansWeb_FaNum.eot);
    src: url(./fonts/IRANSansWeb_FaNum.eot?#iefix) format("embedded-opentype"),
        url(./fonts/IRANSansWeb_FaNum.woff2) format("woff2"),
        url(./fonts/IRANSansWeb_FaNum.woff) format("woff"),
        url(./fonts/IRANSansWeb_FaNum.ttf) format("truetype");
}